.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: rgb(230, 189, 93);

}

.div-page{
  text-align: center;
  background-color: rgb(230, 189, 93);
  min-height: 100vh;
}

.img-logo{
  justify-content: center;
  align-items: center;
  max-height: 100px;
  margin-top: 20px;

}
.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  }

  .card-pokemon{
    background-color: rgb(255, 255, 255);
    margin: 30px;
    max-width: 400px;
    height: 400px;
    border-radius: 20px;
}

.titre-pokemon{
    text-align: center;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 200;
    font-family:Showcard Gothic;
}



.image-pokemon{
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    box-shadow: #282c34;
}

.type-image{
  width: 20px;
}

.div-types{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
}

.div-type-single{
  display: flex;
  justify-content: center;
  align-items: center;
}

.type-id{
  padding-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  font-family: Showcard Gothic;
  font-weight: 100;
  font-size: 15px;
  color: black;
}
.search{
  width: 500px;
  font-family: Showcard Gothic;
  text-align: center;
  vertical-align: middle;
  border-radius: 15px;
  margin-top: 10px;
}

.Filtre-gen{
  width: 150px;
  font-weight: 100;
  font-family: Showcard Gothic;
  text-align: center;
  vertical-align: middle;
  border-radius: 15px;
  margin-top: 10px;
  margin-right: 10px;
}
.Filtre-types{
  width: 130px;
  text-align: center;
  font-family: Showcard Gothic;
  vertical-align: middle;
  border-radius: 15px;
  margin-top: 10px;
  margin-right: 10px;
}

.gen{
  position:absolute;
  background-color: rgb(251, 30, 30);
  color: rgb(255, 255, 255, 255);
  border-radius: 100%;
  width: 30px;
  height: 28px;
  font-family: Showcard Gothic;
  text-align: center;
  margin-top: 8px;
  margin-left: 8px;
  vertical-align: middle;
}

.loading-page{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('./media/forest.jpg');
  background-size: cover;
  background-position:center 100%;
  background-repeat: no-repeat;
}

.gif-pikachu{
  position: absolute;
  height: 180px;
  top: 70%;
  left: 0;
  transform: translate(-50%);
  animation: moveRight 5s linear infinite;
}

.tri{
  width: 130px;
  text-align: center;
  font-family: Showcard Gothic;
  vertical-align: middle;
  border-radius: 15px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.langue{
  width: 130px;
  text-align: center;
  font-family: Showcard Gothic;
  vertical-align: middle;
  border-radius: 15px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.titre-loading{
  padding-top: 200px;
  font-size: 45px;
  text-align: center;
  font-family: Showcard Gothic;
  color: white;
}

.auteur{
  font-size: 20px;
  text-align: center;
  font-family: Showcard Gothic;
  color: white;
}

@keyframes moveRight {
  0% {
    left: 0;
  }
  100% {
    left: calc(100vw - 50px); 
  }
}