.card-pokemon{
    background-color: rgb(234, 162, 18);
    margin: 50px;
    max-width: 400px;
    height: 400px;
    border-radius: 20px;
}

.titre-pokemon{
    text-align: center;
    color: white;
    text-transform: capitalize;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
}

.type-pokemon{
    text-align: center;
    color: white;
    text-transform: capitalize;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
}


.image-pokemon{
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    margin-left: 40px;
}
