
.modal-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  overflow-y: scroll;
  transform: translate(-50%, -50%);
  max-width: 1400px;
  max-height: 600px;
  background-color: white;
  z-index: 1001;
  border-radius: 50px;
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.495);
}
  
.modal-content {
    padding: 30px;
    border-radius: 50px;
    width: 800px;
    display: flexbox;
    grid-template-columns: repeat(3, 1fr);
  }
  
.close-button{
    display: flex;
    position: absolute;
    top: 5px;
    right: 30px;
    cursor: pointer;
    color: #000; /* Couleur du bouton de fermeture */
  }

.close-button:hover{
    cursor: pointer;
 }

 .generation-modal{
  margin-top: 30px;
  margin-left: 30px;
  position: relative;
  background-color: rgb(238, 2, 2);
  color: black;
  border-radius: 100%;
  width: 30px;
  height: 28px;
  font-family: Showcard Gothic;
  text-align: center;
 }

.container-type-modal{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.type-modal{
  font-family:Showcard Gothic;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.image-pokemon-modal{
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  box-shadow: #282c34;
  position: relative;
  top: -30px;
}

.titre-pokemon-modal{
  position: relative;
  text-align: center;
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 200;
  font-family:Showcard Gothic;
}

.image-type-modal{
  width: 20px;
  padding-top: 15px;
  text-align: center;
  
}
  
.image-pokemon-modal {
  transition: transform 0.3s ease-in-out;
}

.grow-in {
  transform: scale(1.1);
}

.titre-stats{
  text-align: center;
  color: rgb(230, 189, 93);
  text-shadow: 1px 1px 1px black, -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black;
  text-transform: capitalize;
  margin-bottom: 30px;  
  font-size: 25px;
  font-weight: 200;
  font-family:Showcard Gothic;
}

.titre-evolution{
  text-align: center;
  color: rgb(230, 189, 93);
  text-shadow: 1px 1px 1px black, -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black;
  text-transform: capitalize;
  margin-bottom: 30px;  
  font-size: 25px;
  font-weight: 200;
  font-family:Showcard Gothic;
}

.stats-pk{
  font-family: Showcard Gothic;
}

.corpulence{
  font-family:Showcard Gothic;
}

.container-corpulence{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.image-pokemon-modal-evolution{
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  box-shadow: #282c34;
  position: relative;
  top: -10px;
}

.text-evolution{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  font-family: Showcard Gothic;
  
}

.modal-content-evolution{
  overflow-y: scroll;
  max-height: 400px;
}

