
.tri{
    width: 130px;
    text-align: center;
    font-family: Showcard Gothic;
    vertical-align: middle;
    border-radius: 15px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }